[Desktop Entry]
Encoding=UTF-8
Name=Link to Information content of binding sites on nucleotide sequences - PubMed
Type=Link
URL=https://pubmed.ncbi.nlm.nih.gov/3525846/
Icon=text-html
